.h1 {
  text-align : center;
}

.title-container {
  text-align : center;
}

.image-container {
  text-align : center;
  max-width : 50%;
  height : auto;
  margin: 0 auto;
}

.xml-container {
  text-align : center;
}

.image-result {
  text-align : center;
  float:none;
}

.well {
  border-style:solid;
}